* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

header {
  display: inherit;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkslategray;
  color: #ffffff;
  flex-direction: column;
}

header section{
  display: inherit;
  justify-content: space-between;
  align-items: flex-end;

}

h1 {
  font-size: 3rem;
  background-color: lightblue;
  color: darkslategray;
}

header nav {
  margin-right: 20px;
  text-underline-position: under; 
  padding: 1vw;
}

header a{
  margin-left: 25px;
  font-size: 2rem;
  color: #ffffff;
}

header a:hover{
background-color: white;
color: black;
}

figure {
  display: flex;
  height: 40vw;
  background-image: url(../images/IMG_5518.PNG);
  background-size: cover;
  justify-content: flex-end;
  align-items: flex-end;
}

main {
  display: flex;
  flex-direction: column;
  padding: 5vw;
  }

.content{
  display: inherit;
  padding-top: 1vw;
}

#cards {
  display: inherit;
  flex-wrap: wrap;
}

p {
  font-size: 1.5vw;
}

h2{
  background-color: lightblue;
  font-size: 2.5rem;
  color:darkslategray;

}

.work{
  display: flex;
  flex-wrap: wrap;
 
}

.section-header{
  width: 10vw;
}

h3{
  font-size: 3rem;
  color:#2589bd;
  border-spacing: 1vw;
  padding-right: 5rem;
}

.boxes {
  height: 30vw;
  width: 30vw;
  
  color: #ffffff;
  margin: 1vw;
  background-image: url(../images/css-code-e1517469545230.jpeg) ;
  flex-basis: calc(50% - 2vw);
  font-size: 1.25rem;
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5vw;
}

.boxes:first-child{
  flex-basis: 100%;
}


h4 {
  font-size: 1.75rem;
}

#contact-me{
  display: flex;
  flex-wrap: wrap;
 
}

#social{
flex: inherit;
justify-content: center;

}

#social a{
  font-size: 1.4vw;
  color:#0072bb;
  font-weight: bold;
  text-decoration: none;
  margin-left: 7rem;

}

#social a:hover{
  background-color: lightblue;
  color: black;
}

@media screen and (max-width: 768px) {
  * {
    flex-direction: column;
    padding: 0.4rem;
  }

.media1{
  align-items: center;
}

  header{
    display: inherit;
    justify-content: flex-start;
  }

  h3{
    align-items: center;
    font-size: 6rem;
  }

  #contact-me{
    align-items: flex-start;
  }

  .cards{
    flex-direction: row;
    align-items: center;
  }

  .boxes{
    flex-direction: row;
  }

  

}