* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1vw;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
}


.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: darkslategray;
  color: #ffffff;
}

h1 {
  display: inline-block;
  font-size: 3rem;
  background-color: lightblue;
  color: darkslategray;
}



.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  text-underline-position: under; 
}

.header nav ul a{
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
}

.header a:hover{
background-color: white;
color: black;

}

a {
  color: #ffffff;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }

.img {
  display: flex;
  height: 30vw;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(./IMG_5518.PNG);
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
}

.img ul{
  margin-top: 400px;
  margin-left: 1350px;
  font-size: 75px;
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: lightblue;
  color: darkslategray;

}

.content{
  display: inherit;
  flex-direction: row;
}

p {
  font-size: 16px;
}



.About{
  display: flex;
height: 200px;
}

h2{
  font-size: 2.5rem;
  color:#2589bd;
  text-underline-position: right;
  padding-left: 300px;
}

.About p{
 padding-left: 400px;
 font-size: 20px;
 
}

.line {
border-color: #0072bb;

}
.work{
  display: flex;
  height: 500px;
  flex-wrap: wrap;
 
}


h3{
  display: flex;
  font-size: 2rem;
  color:#2589bd;
  padding-left: 300px;
text-underline-position: right;

}


.boxes {
  height: 30vw;
  width: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
  flex-grow: 1;
}


.boxes h4 {
  margin-bottom: 20px;
  font-size: ;
}


footer {
  display: flex;
  justify-content:space-evenly ;
  padding: 1%;
  background-color: white;
  color: black;
}

footer h4{
  font-size: 50px;
  color:#2589bd;
  margin-right: 30px;
}
.footline{

  border-color: #0072bb;
}

footer ul{
  
  display: flex;
  min-width: 30px;
}

footer a{
  background-color: unset;
  color:#0072bb;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 25px;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  
  main {
    max-width: 1200px;
  }
}